.DS_Store
node_modules
.anaconda
.cache
.conda
.continuum
.npm
.nvm
.ssh
.Trash
.vscode
.wakatime
.zsh_sessions
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Postman
Public
.bash_history
.CFUserTextEncoding
.condarc
.nvm
.gitconfig
.lesshst
.viminfo
.zsh_history
.zprofile.pysave
.zprofile
.zcompdump
.wakatime.bdb
.wakatime.cfg 
.parcel-cache
.idea
.node_repl_history
.node_repl_history
java_error_in_pycharm.hprof
.nvm 
venv